<%= gibberails_include_tags() %>
<hr />
<%= render 'menu'%>
<h1 class="wtls centralized"><%= @little_text %></h1>
<% @tested_on.each_pair{|k, v| %>
	<p class="wtls centralized">!!!tesTED oN!!! <%= k %>
		<% v.each_pair{|i, e|%>
			/ <%= i %>(<%= e %>)
		<% } %>	
	</p>
<% } %>
<% gibberails_style :position => :absolute, :top => '20%', :left => '15%', :right => '15%', :bottom => '0%' %>
<%= gibberails_load :code, :dashboard, :lang => :coffee, :wrap => :div %>
<%= gibberails_run :theme => :monokai, :commands => {:render => @render, :stop => @stop} %>