<hr />
<%= render 'menu'%>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h1 class="wtls"><%= @little_text %></h1>
<h1 class="wtlslittle"><%= @message %></h1>
<h1 class="wtlslittle"><%= @caution %></h1>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<%= render 'footer' %>
<hr />
<!-- TODO
	Just to compare! Very important to development
	Lets create some analizer
<script>
	var init = stdlib.init
	var sine = dashboard.sine
	init(function(e){
		if(!e){
		  sine()
		}
	})
</script>
