<hr />
<%= render 'menu'%>
<br />
<br />
<br />
<br />
<br />
<br />
<h1 class="wtls"><%= @little_text %></h1>
<div >
	<% @messages.each{|m| %>
	<p class="wtlslittle"><%= m %></p>
	<% } %>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<%= render 'footer' %>
<hr />
<%= javascript_include_tag "dashboard" %>
<!-- TODO
	Just to compare! Very important to development
	Lets create some analizer
<script>
	var init = stdlib.init
	var sine = dashboard.sine
	init(function(e){
		if(!e){
		  sine()
		}
	})
</script>
