<hr />
<%= render 'menu'%>
<br />
<br />
<br />
<br />
<br />
<br />
<h1 class="wtls"><%= @little_text %></h1>
<div >
	<% @messages.each{|m| %>
	<p class="wtlslittle"><%= m %></p>
	<% } %>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<%= render 'footer' %>
<hr />
<%= javascript_include_tag "dashboard" %>