<!DOCTYPE HTML>
<html>
	<head>
		<title><%= @title %></title>
	</head>
	<body>
		<h1><%= @title %></h1>
		<hr />
		<nav id="menu">
			<ul>
			<% @menu.each {|e|%>
				<li><a href=<%= e %>><%= e %></a></li>
			<%}%>
			</ul>
		</nav>
		<hr />
		<footer>
			<%@footer.each_pair{|k, v|%>
			<h6><%=k %> <%= v%></h6>
			<%}%>
		</footer>
	</body>
</html>
