<%= form_for @lib, :builder => LibsHelper::Ace do |f| %>
  <% if @lib.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lib.errors.count, "error") %> prohibited this lib from being saved:</h2>

      <ul>
      <% @lib.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </div>
  
  <div class="field">
    <%= f.label :created_at %><br>
    <%= f.datetime_select :created_at %>
  </div>
  
  <div class="field">
    <%= f.label :code %><br><br>
    <%= f.hidden_text_area :code %>
    <% gibberails_style :position => :absolute, :top => '20%', :left => '15%', :right => '15%', :bottom => '0%' %>
	<%= f.gibberails_load :code, :dashboard, :lang => :coffee, :wrap => :div %>
	<%= f.gibberails_run :theme => :monokai, :commands => {:render => @render, :stop => @stop} %>
  </div>
  <br />
  <br />
  <br />
  <br />
  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
  
  <%= f.run @lib.code, :theme => :monokai %>
<% end %>