<%= form_for @lib, :builder => LibsHelper::Ace do |f| %>
  <% if @lib.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lib.errors.count, "error") %> prohibited this lib from being saved:</h2>

      <ul>
      <% @lib.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :author %><br>
    <%= f.text_field :author %>
  </div>
  
  <div class="field">
    <%= f.label :created_at %><br>
    <%= f.datetime_select :created_at %>
  </div>
  
  <div class="field">
    <%= f.label :code %><br><br>
    <%= f.hidden_text_area :code %>
    <%= f.load :code, :lang => :coffee, :wrap => :div, :position => :absolute, :top => '35%', :left => '0.5%', :right => '0.5%', :bottom => '40%' %>
  </div>
  <br />
  <br />
  <br />
  <br />
  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
  
  <%= f.run @lib.code, :theme => :monokai %>
<% end %>