<div class="centralized">
	<%= link_to 'Home', '/' %>
	|
	<%= link_to 'live-coding', '/play' %>

	<h1 class>How much time you can hear a sound?</h1>
	<p><%= @current_version%></p>
	<%= link_to 'New Module', new_lib_path %>

	<div class="post shadow">
		
		<br />
		<% @libs.each do |lib| %>
      	<% v = "#{lib.author}.#{lib.name} | #{lib.created_at}" %>
        <%= link_to v, lib %>
        <br />
    	<% end %>
	</div>
</div>
<br>
<%= javascript_include_tag "libs", "data-turbolinks-track" => true%>