<%= link_to 'Home', '/' %>
<%= link_to 'Go play', '/play' %>

<h1>Listing libs</h1>
<%= link_to 'New Module', new_lib_path %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Author</th>
      <th>Code</th>
      <th>Created at</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @libs.each do |lib| %>
      <tr>
        <td><%= lib.name %></td>
        <td><%= lib.author %></td>
        <td><%= lib.code %></td>
        <td><%= lib.created_at %></td>
        <td><%= link_to 'Show', lib %></td>
        <td><%= link_to 'Edit', edit_lib_path(lib) %></td>
        <td><%= link_to 'Destroy', lib, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= javascript_include_tag "libs", "data-turbolinks-track" => true%>