<%= render 'menu' %>
<%= gibberails_include_tags() %>
<div>
	<h1 class="centralized">How much time you can spend to hear a sound?</h1>
	<p class ="centralized">Music v. <%= @time %></p>
	<% gibberails_style :position => :absolute, :top => '20%', :left => '15%', :right => '15%', :bottom => '0%' %>
	<%= gibberails_load :code, :libs, :lang => :coffee, :wrap => :div %>
	<%= gibberails_run :theme => :monokai, :commands => {:render => @render, :stop => @stop} %>
</div>

<div class="centralized">
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<div class="post shadow">
		<%= link_to 'New Module', new_lib_path %>
		<br />
		<% @libs.each do |lib| %>
      	<% v = "#{lib.author}.#{lib.name} | #{lib.created_at}" %>
        <%= link_to v, lib %>
        <br />
    	<% end %>
	</div>
</div>
<br/>